body {
  background-color: #001942;
}

h1, h2 {
  color: white;
  font-family: sans-serif;
}

button {
  background-color:#ffffff;
  border-radius: 2px;
  color: black;
  border: none;
  padding: 1rem 1rem;
}
